.box1{
    width: 300px;
    height: 150px;
    background-color: green;
    position: relative;
    top: 0;
    bottom: 60%;
    left: 40%;
}

.box2{
    width: 150px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
 
h1{
    font-size: 28px;
    text-align: center;
}

.name{
    border: 2px solid blue;
    margin-top: 10px;
    margin-left: 40%;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
}
p{
    font-size: 30px;
    margin-bottom: 1000px;
    position: relative;
}





